<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <title>ISRA</title>
    <link rel="stylesheet" href="css/main.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
  </head>

  <body>

    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="index.html"><img src="img/refLogo.png" width="50px" height="50px"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" href="index.html">Home</a>
              <a class="nav-link"  href="referees.html">Referees</a>
              <a class="nav-link" href="assignments.html">Assignments </a>
              <a class="nav-link" href="games.html">Games</a>
              <a class="nav-link active" aria-current="page" href="reports.html">Reports</a>
            </div>
          </div>
        </div>
      </nav>
    
      <div class="col-sm-8 text-right"> 
        <h1>Assignments</h1>
        <div id="reportApp" class="container">
          <p><a href="api/report/assignment_index.php/?format=csv">Download as CSV</a></p>
          <div class="row align-items-start">
            <div class="col col-4">
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Position</th>
                    <th>rstatus</th>
                    <th>GID</th>
                    <th>RID</th>
                  </tr>
                </thead>
                  <tbody>
                      <tr v-for="assign in assignments">
                          <td>{{ assign.aid }}</td>
                          <td>{{ assign.position }}</td>
                          <td>{{ assign.rstatus }}</td>
                          <td>{{ assign.gid }}</td>
                          <td>{{ assign.rid}}</td>
                      </tr>
                  </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-8 text-right"> 
        <h1>Unassigned Referee Assignments</h1>
        <div id="reportAppREF" class="container">
          <p><a href="api/report/referees_index.php/?format=csv">Download as CSV</a></p>
        </div>
      </div>

      <div class="col-sm-8 text-right"> 
        <h1>All Referees</h1>
        <div id="reportAppREF_All" class="container">
          <p><a href="api/report/all_referees_index.php/?format=csv">Download as CSV</a></p>
          <div class="row align-items-start">
            <div class="col col-4">
              <table class="table">
                <thead>
                  <tr>
                    <th>RID</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Grade</th>
                    <th>Rating</th>
                  </tr>
                </thead>
                  <tbody>
                      <tr v-for="ref in referees">
                          <td>{{ ref.rid }}</td>
                          <td>{{ ref.name }}</td>
                          <td>{{ ref.age }}</td>
                          <td>{{ ref.grade }}</td>
                          <td>{{ ref.rating}}</td>
                      </tr>
                  </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-8 text-right"> 
        <h1>All Games</h1>
        <div id="reportAppGame_All" class="container">
          <p><a href="api/report/all_games_index.php/?format=csv">Download as CSV</a></p>
          <div class="row align-items-start">
            <div class="col col-4">
              <table class="table">
                <thead>
                  <tr>
                    <th>GID</th>
                    <th>Location</th>
                    <th>Time</th>
                    <th>Date</th>
                  </tr>
                </thead>
                  <tbody>
                      <tr v-for="game in games">
                          <td>{{ game.gid }}</td>
                          <td>{{ game.location }}</td>
                          <td>{{ game.gtime }}</td>
                          <td>{{ game.gdate }}</td>
                      </tr>
                  </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <script src="js/report_ref.js"></script>
      <script src="js/report.js"></script>
      <script src="js/report_all_refs.js"></script>
      <script src="js/report_all_games.js"></script>



  </body>
  </html>